@font-face {
    font-family: "Yeseva One";
    src: url("./YesevaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Indie Flower";
    src: url("./IndieFlower-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    text-decoration: unset;
    color: unset;
    list-style: none;
}

body {
    background-color: #001220;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 3rem 6rem;

    position: sticky;
    top: 0;
    z-index: 99999;

    width: auto;
    height: 40px;

    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    && .logo {
        display: flex;
        && img {
            filter: invert(1);
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }

        && p {
            display: flex;
            width: 100%;
            height: fit-content;

            text-align: center;
            font-size: 2rem;
        }
    }

    && div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        min-width: fit-content;
        height: fit-content;

        && a {
            display: flex;
            justify-content: center;
            align-items: center;

            min-width: fit-content;
            height: fit-content;

            padding: 0.5rem 1rem;

            border-radius: 0.5rem;
            border: 1px solid white;
            color: white;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &&:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

.home {
    background-image: url("./hero.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7); /* Añade un color de fondo oscuro */
    background-blend-mode: multiply; /* Hace que la imagen se mezcle con el color de fondo */

    display: flex;
    min-height: fit-content;

    && div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2rem;

        width: 50%;
        height: 100%;

        && a {
            display: flex;

            width: 60%;
            height: fit-content;

            text-align: start;
            font-size: 2.5rem;

            padding: 2rem 4rem;
            margin-left: -1px;

            border-radius: 0 2rem 2rem 0; /* Para que el botón tenga las esquinas de la derecha redondeadas */
            border: 1px solid black;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &&:hover {
                background-color: white;
                color: black;
            }
        }
    }
    && h1 {
        display: flex;
        justify-content: start;
        align-items: center;

        color: white;
        font-size: 4rem;
        font-weight: bold;

        width: 50%;
    }
}

.antidesign {
    display: flex;
    flex-direction: column;

    margin-top: -135px; /* Para que no se vea el espacio del header */
    background-color: black;
    color: white;

    width: 100%;
    min-width: fit-content;

    background-image: url("./antidesigncollage.png");
    background-repeat: no-repeat;
    background-size: 85% auto;
    background-position: center 100px;

    && div {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        margin-top: 630px;

        && h1 {
            font-size: 4rem;
        }

        && p {
            font-size: 2rem;
        }

        && div {
            display: flex;
            flex-direction: row;
            width: auto;
            margin-top: 350px;
            padding: 0rem 20rem 15rem 20rem;

            && p:first-child {
                width: 100%;
                text-align: start;
            }

            && p:nth-child(2) {
                width: 100%;
                text-align: end;
            }
        }
    }
}

.surrealism {
    display: flex;
    flex-direction: column;

    background-color: bisque;
    && .parte1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        && img {
            width: 200px;
            height: auto;
        }

        && h1 {
            font-family: "Yeseva One", fallback;
            font-size: 8rem;
        }

        && p {
            font-family: "Indie Flower", fallback;
            font-size: 2rem;
            padding-top: 2rem;
        }

        && div {
            && p {
                padding: 5rem 10rem 10rem 10rem;
            }

            && div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                && a {
                    font-family: "Indie Flower", fallback;
                    margin-left: 30rem;
                    z-index: 300;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: fit-content;
                    height: fit-content;

                    text-align: center;
                    font-size: 2.5rem;

                    padding: 1rem 4rem;

                    border: 1px solid black;
                    color: black;
                    background-color: cornsilk;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &&:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }

            && img {
                margin-top: 0;
                width: 100%;

                height: auto;
            }
        }
    }

    && .parte2 {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;

        && div {
            padding: 5rem;
            && h1 {
                font-family: "Yeseva One", fallback;
                margin-top: 5rem;
                font-size: 3rem;
            }
            && p {
                font-family: "Indie Flower", fallback;
                margin-top: 5rem;
                font-size: 2rem;
                font-weight: lighter;
                padding: 0;
            }

            && div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                && a {
                    margin-left: 30rem;
                    z-index: 300;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: fit-content;
                    height: fit-content;

                    text-align: center;
                    font-size: 2.5rem;

                    padding: 1rem 4rem;

                    border: 1px solid black;
                    color: black;
                    background-color: cornsilk;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;

                    &&:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }
        && img {
            align-self: flex-end;
            width: 50%;
            height: auto;
        }
    }
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 20rem 0rem;

    background-color: dodgerblue;
    color: white;

    && div {
        display: flex;

        && div {
            && img {
                position: sticky;
                top: 200px;

                border: 1px solid black;
                border-radius: 2rem;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                margin: 4rem;
                aspect-ratio: 16/9 !important;
            }
        }

        && div {
            display: flex;
            flex-direction: column;
            padding-right: 4rem;
            && h1 {
                font-size: 4rem;
            }
            && p {
                font-family: "Indie Flower", fallback;
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }

    && .redesimages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 10rem 10rem 0 10rem;

        && img {
            margin: 0;
            width: 200px;
            border-radius: 4rem;
            height: auto;
        }
    }
}

.cine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 20rem 0rem;

    background-color: #b22222;
    color: rgb(255, 206, 81);

    && .main {
        && p {
            font-family: "Yeseva One", fallback;
            text-align: center;
            font-size: 4rem;
        }
        && .cineimages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            padding: 5rem 5rem 10rem 5rem;

            && img {
                margin: 0;
                width: 300px;
                aspect-ratio: 9/14;
                border-radius: 0.5rem;
                height: auto;
                transition: all 0.1s ease-in-out;
            }

            && img:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }
        && h3 {
            text-align: center;
        }
    }

    && .peli {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        width: auto;
        height: fit-content;
        padding: 10rem 5rem;

        && div {
            display: flex;
            flex-direction: column;
            width: 80%;
            && h1 {
                font-size: 4rem;
            }
            && p {
                font-family: "Indie Flower", fallback;
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
        && .peliimages {
            display: flex;
            width: 30%;
            height: auto;

            && img {
                width: 100%;
                height: auto;
                aspect-ratio: 9/14;
                border-radius: 0.5rem;
                transition: all 0.1s ease-in-out;
            }

            && a {
                margin-top: -77px;
                display: flex;
                justify-content: center;
                align-items: center;

                width: auto;

                font-family: "Indie Flower", fallback;
                text-align: center;
                font-size: 2.5rem;

                padding: 0.5rem 3rem;

                background-color: rgba(0, 0, 0, 0.5);
                border: 1px solid black;
                border-radius: 0.5rem;
                color: white;
                text-decoration: none;
                transition: all 0.2s ease-in-out;

                &&:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}

.ia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 20rem 0rem;

    color: rgb(255, 206, 81);

    && div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        && h1 {
            font-size: 4rem;
        }
        && p {
            font-family: "Indie Flower", fallback;
            margin-top: 2rem;
            font-size: 2rem;
        }
        && img {
            margin: 5rem 0;
            width: 400px;
            border-radius: 0.5rem;
            height: auto;
            transition: all 0.1s ease-in-out;
        }

        && img:hover {
            transform: scale(1.5);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 1rem;
        flex-direction: column;
    }

    .header && p {
        font-size: 1.5rem;
    }

    .home {
        background-size: cover;
    }

    .home && h1 {
        font-size: 2rem;
    }

    .antidesign,
    .surrealism,
    .redes,
    .cine,
    .ia {
        padding: 5rem 1rem;
    }

    .antidesign && h1,
    .surrealism && h1,
    .redes && h1,
    .cine && h1,
    .ia && h1 {
        font-size: 2.5rem;
    }

    .header {
        height: fit-content;
        gap: 1rem;
        && div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: auto;
            flex-wrap: wrap;
            gap: 0.5rem;
            && a {
                width: auto;
                margin: 0;
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
            }
        }

        && .logo {
            display: flex;
            && img {
                width: 20px;
                height: auto;
            }
            && p {
                width: auto;
                margin: 0;
                padding: 0;
                font-size: 1rem;
            }
        }
    }

    .home {
        padding: 3rem 0;
        height: fit-content;
        flex-direction: column-reverse;
        gap: 2rem;

        && h1 {
            width: auto;
            margin: 0;
            padding: 4rem 2rem;
            font-size: 2rem;
        }
        && div {
            width: auto;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
            gap: 1rem;
            && a {
                width: auto;
                margin: 0;
                padding: 1rem 2rem;
                font-size: 1rem;
            }
        }
    }

    .antidesign {
        width: auto;
        margin-top: -105px;
        && div {
            margin: 300px 0 0 0;

            && h1 {
                font-size: 2rem;
            }
            && p {
                margin-top: 2rem;
                font-size: 1rem;
            }
            && div {
                padding: 0;
                margin: 0;
                flex-direction: column;
                gap: 3rem;
            }
        }
    }

    .surrealism {
        width: auto;
        && .parte1 {
            width: auto;
            && img {
                width: 100px;
                height: auto;
            }

            && h1 {
                font-size: 2rem;
            }

            && p {
                font-size: 1rem;
                padding-top: 2rem;
            }

            && div {
                && p {
                    /* display: flex;
                    background-color: #b22222; */
                    width: auto;
                    padding: 0;
                }

                && div {
                    display: none;
                }

                && img {
                    margin-top: 50px;
                    width: 100%;
                    height: auto;
                }
            }
        }

        && .parte2 {
            width: auto;
            flex-direction: column;
            && div {
                padding: 0;
                && h1 {
                    font-size: 1.5rem;
                }
                && p {
                    font-size: 1rem;
                    font-weight: lighter;
                    padding: 0;
                    margin: 4rem 0;
                }

                && div {
                    width: auto;
                    margin-top: 0;
                    padding: 0;
                    flex-direction: column;
                    gap: 3rem;
                }
            }
            && img {
                align-self: center;
                width: 80%;
                height: auto;
            }
        }
    }

    .redes {
        width: auto;
        && div {
            display: flex;
            flex-direction: column;
            width: auto;
            max-width: 100%;
            gap: 3rem;
            && div {
                width: auto;
                padding: 0 1rem;
                gap: 1rem;
                && img {
                    width: auto;
                    padding: 0;
                    margin: 0;
                }
                && h1 {
                    font-size: 2rem;
                }
                && p {
                    font-size: 1rem;
                    width: auto;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        && .redesimages {
            padding: 0;
            margin: 2rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            && img {
                width: 50px;
                height: auto;
            }
        }
    }

    .cine {
        width: auto;
        && .main {
            && p {
                font-family: "Yeseva One", fallback;
                text-align: center;
                font-size: 3rem;
            }
            && .cineimages {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                padding: 1rem;
                margin: 2rem 0 0 0;
                && img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 9/14;
                    border-radius: 0.5rem;
                    transition: all 0.1s ease-in-out;
                }
            }
            && h3 {
                font-size: 1rem;
                text-align: center;
            }
        }

        && .peli {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 5rem;

            width: auto;
            height: fit-content;
            padding: 5rem 1rem;

            && div {
                display: flex;
                flex-direction: column;
                width: 100%;
                && h1 {
                    font-size: 2rem;
                }
                && p {
                    font-family: "Indie Flower", fallback;
                    margin-top: 2rem;
                    font-size: 1rem;
                }
            }
            && .peliimages {
                display: flex;
                width: 100%;
                height: auto;

                && img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 9/14;
                    border-radius: 0.5rem;
                    transition: all 0.1s ease-in-out;
                }

                && a {
                    margin-top: -77px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: auto;

                    font-family: "Indie Flower", fallback;
                    text-align: center;
                    font-size: 1.5rem;

                    padding: 0.5rem 3rem;

                    background-color: rgba(0, 0, 0, 0.5);
                    border: 1px solid black;
                    border-radius: 0.5rem;
                    color: white;
                    text-decoration: none;
                    transition: all 0.2;
                }
            }
        }
    }

    .ia {
        width: auto;
        && div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            && h1 {
                font-size: 2rem;
            }
            && p {
                font-family: "Indie Flower", fallback;
                margin: 1rem;
                font-size: 1rem;
            }
            && img {
                margin: 2rem 0;
                width: 100%;
                border-radius: 0.5rem;
                height: auto;
                transition: all 0.1s ease-in-out;
            }

            && img:hover {
                transform: scale(1);
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }

            && span {
                display: none;
            }
        }
    }

    .separator {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .header {
        padding: 2rem 4rem;
    }

    .header && p {
        font-size: 1.8rem;
    }

    .home && h1 {
        font-size: 3rem;
    }

    .antidesign && h1,
    .surrealism && h1,
    .redes && h1,
    .cine && h1,
    .ia && h1 {
        font-size: 3rem;
    }
}
